<database>
	<DEV>
		<SQL-DWH_ACHS_CCH>
			<HOST>DWH-QA2</HOST>
			<PORT>1433</PORT>
			<DBNAME>DWH_ACHS_CCH</DBNAME>
			<INSTANCE>SQLDWHDES</INSTANCE>
			<USER>Usr_bi</USER>	
		</SQL-DWH_ACHS_CCH>	
		<ORA-DATW_PADUA>
			<HOST>10.200.5.45</HOST>
			<PORT>1521</PORT>
			<DBNAME>CCH1</DBNAME>
			<INSTANCE></INSTANCE>
			<USER>DATW_PADUA</USER>	
		</ORA-DATW_PADUA>	
	</DEV>
	<QA>
	</QA>
	<PRD>
	</PRD>
</database>